//
// Some Useful color Vars via http://clrs.cc/
//

// Cool
$DefaultAqua:  #7FDBFF
$DefaultBlue:  #0074D9
$DefaultNavy:  #001F3F
$DefaultTeal:  #39CCCC
$DefaultGreen: #2ECC40
$DefaultOlive: #3D9970
$DefaultLime:  #01FF70


// Warm
$DefaultYellow:  #FFDC00
$DefaultOrange:  #FF851B
$DefaultRed:     #FF4136
$DefaultFuchsia: #F012BE
$DefaultPurple:  #B10DC9
$DefaultMaroon:  #85144B


// Gray Scale
$DefaultWhite:  #fff
$DefaultSilver: #ddd
$DefaultGray:   #aaa
$DefaultBlack:  #111


//
// Add whatever variables you would like made available to the whole app
//
